fastapi
uvicorn
python-dotenv
pypdf
stripe
supabase
requests
flask
pydantic
mistralai
anthropic
python-multipart
openai
PyMuPDF
httpx
numpy-financial
openpyxl

# Google OAuth / Gmail API
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
